/* Creates global color variables (accessed via: var(--text-color) etc.) */

:root{
    --text-color: #ffffff;
}

body, html {
    /* Define these as you like */

    background-color: teal; /* rosybrown */
    font-family: 'Montserrat', sans-serif;

    height: 100vh;
    width: 100%;
    
    /* Adjust depending on how you want to implement your background */

    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    /* Use smooth scrolling so that when using "bookmarks" it doesn't instantly teleport you */
    scroll-behavior: smooth;
}

/* Implementing shadow and parallax effect for landing page image */
.background-img {
    background-image: url(./assets/background-image2.jpg);

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.48);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -------------------------------- Navigation Bar Section -------------------------------- */

/* Defining the font size for the Navigation Bar Text */
nav {
    font-size: 17px;
}

/* Modifying the size of the button for your "Resume" link */
.btn-sm {
    font-size: 17px;
}

/* Changes the color of your Navigation Bar Text */
.navbar-dark .navbar-nav .nav-link {
    color: var(--text-color);
}

/* Cool blur effect to your Navigation Bar Background */
.navbar {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    padding-right: 16px;
    margin: 10px;
    border-radius: 10px;
}

/* Changes color of button when you hover over it */
.btn:hover {
    background: rgba(255, 255, 255, 0.275);
}

/* -------------------------------- Body Text Section -------------------------------- */

/* This is an "ID" which is used as a bookmark - Here we add padding to the top
   and make it take up the entire vertical screen with 100vh */
#introduction {
    padding-top: 38vh; 
    height: 100vh;
    line-height: 1.2 !important; /* Changes line-height from 1.5 since there was too much space in-between lines */
}

.name {
    font-size: 12vmin; /* Uses vmin to keep consistency (80px originally) (10vmin orig) */
    color: var(--text-color);
    padding-bottom: 0%; /* 0% */
    margin-bottom: auto;
}
.background-text {
    font-size: 5.6vmin; /* 50px (4.8vmin orig) */
    color: var(--text-color);
    padding-bottom: 0%;
    margin: 0;
}